.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-image {
  width: 213px;
  height: 86px;
  align-self: flex-start;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
}
.header-icon {
  fill: var(--dl-color-gray-white);
  width: 35px;
  height: 35px;
  margin-right: var(--dl-space-space-unit);
}





